<div class="container">
    <div class="page-signup">
        <div class="row">
            <div class="img-holder">
                <div class="superbg"></div>
                <div class="info-holder">
                    <img src="assets/images/graphic1.svg" alt>
                </div>
            </div>
            <div class="signup-form">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Get more things done with Loggin platform.</h3>
                        <p>Access to the most powerfull tool in the entire design and web industry.</p>
                        <div class="page-links">
                            <a href="#" class="active">Login</a><a routerLink="/register">Register</a>
                        </div>
                        <form  [formGroup]="loginForm" >                          
                            <input class="form-control" type="text" name="mobile"  placeholder="Phone Number / E-mail Address" required formControlName="mobile" #mobile >
                            <input class="form-control" type="password" name="password"  placeholder="Password" required formControlName="password" #password>
                            <div class="form-button">
                                <button id="submit" type="submit" class="ibtn" (click) = "login(mobile.value, password.value)" >Login</button>
                            </div>
                        </form>
                        
                        <div class="other-links">
                            <span>Or login with</span><a href="#">Facebook</a><a href="#">Google</a><a
                                href="#">Linkedin</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>