
<div class="container">
    <div class="page-signup">
        <div class="row">
            <div class="img-holder">
                <div class="superbg"></div>
                <div class="info-holder">
                    <img src="./assets/images/graphic1.svg" alt>
                </div>
            </div>
            <div class="signup-form">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Get more things done with Loggin platform.</h3>
                        <div class="page-links">
                            <a href="#" routerLink="/login">Login</a><a href="#" class="active">Register</a>
                        </div>

                        <form  [formGroup]="registerForm" >
                            <input class="form-control" type="text" name="fullName"  placeholder="Full Name" required
                               formControlName="fullName" #fullName >
                            <input class="form-control" type="email" name="email" placeholder="email" required formControlName="email"
                                #email>
                            <input class="form-control" type="text" name="mobile" placeholder="Phone Number"
                                required formControlName="mobile" #mobile >
                            <input class="form-control" type="password"   name="password" placeholder="Password" required
                               formControlName="password" #password >
                            <div class="form-button">
                                <button id="submit" type="submit" class="ibtn" (click)= "register(fullName.value, email.value,mobile.value, password.value)" >Register</button>
                            </div>
                        </form>
                        <div class="other-links">
                            <span>Or login with</span><a href="#">Facebook</a><a href="#">Google</a><a
                                href="#">Linkedin</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>