/* ------- signin and signup css ----*/
body {
    background-color: ghostwhite;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.page-signup {
    background-color: white;    
    width: 800px;
    height: 450px;
    margin-top: 85px; 
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.img-holder{
    background-color:#f1f1f1;
    width: 400px;
    height: 450px; 
}

.img-holder .superbg{
    opacity: 1;
   
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.img-holder .info-holder{
    top:200px;
    transform: translateY(-50%);
    position: relative;
    
    left: 10px;
}

.img-holder .info-holder img{
    width: 100%;
    max-width: 378px;
}


/*------signup form---*/

.signup-from {
    width: 100%;
    
}

.signup-from .form-content {
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    min-height: 100%;
}

.form-content .form-items {
    max-width: 340px;
    text-align:left;
    margin-top: 30px;
    margin-left: 35px;
    
}
.form-content .page-links {
    margin-bottom: 34px;
}

.form-content .page-links a.active {
    font-weight: 700;
}

.form-content .page-links a {
    color: #000;
}

.form-content .page-links a {
    position: relative;
    display: inline-block;
    text-decoration: none;    
    font-size: 15px;
    margin-right: 20px;    
    transition: all 0.3s ease;
}

.form-content .page-links a.active:after {
    background-color: #0092FE;
}
.form-content .page-links a:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -10px;
    background-color: rgba(171, 171, 171, 0.5);
    transition: all 0.3s ease;
}


.form-content h3 {
    
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 10px;
}



.form-content input, .form-content .dropdown-toggle.btn-default {
    border: 1px solid rgba(0, 149, 255, 0);
    background-color: #F7F7F7;
    color: #000000;
}

.form-content input, .form-content .dropdown-toggle.btn-default {
    width: 100%;
    padding: 9px 20px;
    text-align: left;
    
    outline: 0;
    border-radius: 6px;
    
    font-size: 15px;
    font-weight: 300;
    
    
    transition: all 0.3s ease 0s;
    margin-bottom: 14px;
}


.form-content .form-button .ibtn:last-child {
    margin-right: 0;
}


.form-content .form-button .ibtn {
    background-color: #0093FF;
    color: #fff;
    -webkit-box-shadow: 0 0 0 rgba(80, 182, 255, 0.31);
    box-shadow: 0 0 0 rgba(80, 182, 255, 0.31);
}



.form-content .form-button .ibtn {
    border-radius: 6px;
    border: 0;
    padding: 6px 28px;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    margin-right: 10px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.other-links {
    margin-top: 25px;
}


.form-content .other-links span {
    color: #000;
}

.form-content .other-links span {
    font-size: 12px;
    font-weight: 300;
    margin-right: 20px;
}

.form-content .other-links a {
    color: #000;
}

.form-content .other-links a {
    font-size: 12px;
    font-weight: 700;
    margin-right: 10px;
}





/*----------dashboard -------*/


.topbar{
    position: relative;
    width:100%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-color: white;
    height: 55px;

}

.topbar h3{
    padding-top: 10px;
    text-align: center;

}

.topbar .toggle-btn{
    position: absolute;
    top: 12px; 
    left: 20px;
}

.topbar .toggle-btn span{
    display: block;
    width: 30px;
    height: 3px;
    background:#151719; 
    margin: 4px 0px;  
}
.topbar .img
{
    position: absolute;
    width: 100%;
    height:100%;
}
.topbar .img-cirle{
    width: 36px;
    margin-top: -10px;
    display: inline-block;
    vertical-align: top;
    border-radius: 50%;
}